div{
    border-width: 10px;
    border-radius: 10px;
}
.solid{
    width: 200px;
    height: 50px;
    border: 2px solid green;
}
.dotted{
    width: 200px;
    height: 50px;
    border: 5px dotted red;
}
.dashed{
    width: 200px;
    height: 50px;
    border: 10px dashed blue;
}
.double{
    width: 200px;
    height: 50px;
    border-style: double;
}
.groove{
    width: 200px;
    height: 50px;
    border-style: groove;
}
.ridge{
    width: 200px;
    height: 50px;
    border-style: ridge;
}
.inset{
    width: 200px;
    height: 50px;
    border-style: inset;
}
.outset{
    width: 200px;
    height: 50px;
    border-style: outset;
}
.none{
    width: 200px;
    height: 50px;
    border-style: none;/*SIN BORDE*/
}
.hidden{
    width: 200px;
    height: 50px;
    border-style: hidden; /*BORDE OCULTO*/
}
.mix{
    width: 200px;
    height: 50px;
    border-style: dotted dashed solid double; 
}

p{
    text-align: center;
}






