div{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: width 1s, transform,2s;
    margin: 5px;
}
div:hover{
    width: 300px;
    height: 300px;
    transform: rotate(180deg);
}

.velocidad1{
    transition-timing-function: linear;
}
.velocidad2{
    transition-timing-function: ease; /*el que mas usa segio*/
}
.velocidad3{
    transition-timing-function: ease-in;
}
.velocidad4{
    transition-timing-function: ease-in-out;
}
.velocidad5{
    transition-timing-function: ease-out;
}

button{
    width: 150px;
    height: 50px;
    background-color: green;
    color: white;
    transition: background-color 0.5s, color 0.5s;
    margin: 5px;
}

button:hover{
    background-color: red;
    color: rgb(170, 195, 85);
}

input{
    width: 150px;
    border-radius: 5px;
    transition: background-color 0.5s;
}

input:hover{
    background-color: aquamarine;
    color: black
}

input:focus{                     /*al hacer click en el input se pone rojo*/
    background-color: red;
}