img{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1; /* AL PONER -1 LA IMAGEN QUEDA ATRAS DEL TITULO*/ /*AL PONER 0 QUEDA POR DELANTE*/
    width: 300px;
}

h1, h2{
    color: white;
}

body{
    background-color: black;
}