.contenedor1{
    background-color: red;
    max-width: 200px;
    max-height: 200px;
}
.contenedor2{
    background-color: blue;
    width: 100px;
    height: 200px;
}
.contenedor3{
    background-color: green;
    width: 200px;
    height: 200px;

}