 /* h1{
    font-family: 'Inconsolata', monospace;
  font-family: 'Roboto Mono', monospace;        tiene que ser solo una fuente 
}*/

/*  NORMALIZACION   */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*Esto hace que el padding y el border no afecten al ancho y alto del elemento */
    font-family: 'Inconsolata', monospace;
    list-style: none; /*Quitar los puntos e decoracion de las listas*/
    text-decoration: none; /*Esto quita el subrayado de los enlaces*/
    color: white;    
}

body{
    background-color: black; /*TO DO: borrar cuando tengamos el fondo final*/
}

header{
    position: fixed; /* Esto hace el header quede FIJO en la parte superior de la web */
    right: 0;
    top: 0;
    z-index: 100; /* Esto hace que el header SE MUESTRE por encima*/
    width: 100%; /* NOTA: ACA ES CON % */
    display: flex;  /* Esto hara que los elementos de pongan en linea*/
    align-items: center; /* Centra Verticalmente */
    justify-content: space-between; /* Hace que los elementos se separen */
    padding: 15px 3%;
    background-color: transparent;
}


