header{
    background-color: lightseagreen;
    color: white;
    font-size: 18px; /*tamano de la letra*/
    border-bottom: solid 3px indigo;
    padding: 22px;
    margin-bottom: 15px ;
    text-align: center;
    box-sizing: border-box;
}

section{
    width: 50%;
    margin-left: 25%;
    background-color: gainsboro;
    margin-bottom: 15px;
    padding-left: 12px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: dashed 1px black;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
}

footer{
    background-color: rebeccapurple;
    color: white;
    border-top: 12px;
    height: 40px;
    text-align: center;
    box-sizing: border-box;
}