body{
    font-size: 30px;
}

h1{
    font-size: 60px;
}

p{
    font-size: 1em; /*      hace referencia al padre, en el P externo le hace caso al boddy y al interno del div al DIV PADRE
    font-size: 1rem;        aca hace referencia al raiz, osea al P del css que tengo como general, ningun en especifico, sino a todos*/
}

.parrafo{
    font-size: 15px;
    border: 2px groove black;
    background-color: rgb(88, 123, 123);
}

span{
    font-size: 0.5em;
}

.caja-externa{
    border: 1px solid black;
    background-color: aqua;
    
    width: 50vw;
    height: 100vh;
}

.caja-interna{
    border: 1px solid black;
    background-color: red;
    width: 50%;
    height: 50%;
}